body {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    margin: auto;
    text-align: left;
    max-width: 68%;
}
h1 {
    padding: 10px 10px;
    background-color: aqua;
}
h1:hover + .hide {
    display: block;
}

table {
    width: 100%;
}

th {
    background-color: aqua;
    padding: 5px 5px 5px 5px;
}

tr {
    transition: all .2s ease-in;
}

tr:nth-child(odd){
    background-color: rgb(247, 247, 247);
}

a {
    text-decoration: none;
}

tr:hover {
    background-color:lime;
    transform: scale(1.06);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.hide {
    display: none;
}

img {
    max-width: 10%;
    max-height: 10%;
    bottom: 5%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
  }
  @-webkit-keyframes run {
    0% {
      left: 20%;
    }
    50% {
      left: 70%;
    }
    100% {
      left: 20%;    
    }
  }

